spring:
  application:
    name: bulk-orchestration-service

  datasource:
    url: jdbc:h2:mem:bulkdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  batch:
    jdbc:
      initialize-schema: always   # create spring batch tables
    job:
      enabled: false              # we will enable specific jobs later

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info

