spring:
  application:
    name: bulk-orchestration-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3310/bulk_orchestration?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  batch:
    jdbc:
      initialize-schema: always   # create spring batch tables
    job:
      enabled: false              # we will enable specific jobs later

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info

user-management:
  base-url: ${USER_MANAGEMENT_BASE_URL:http://localhost:8080}

